@model DataObjects.AddCardToCollectionModel

@{
    ViewBag.Title = "Add Card To My Collection";
}

<h2>Add Card To My Collection</h2>
@using (Html.BeginForm("AddToCollection", "Collection", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CardToAdd.CardName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardToAdd.CardName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.HiddenFor(model => model.CardToAdd.CardName)
                @Html.ValidationMessageFor(model => model.CardToAdd.CardName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="visibility: hidden;">
            <input type="text" value=@Model.CardToAdd.CardName id="hiddenCardToAddName">
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CardToAdd.CardText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardToAdd.CardText, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.CardToAdd.CardText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CardLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardLocation, new { htmlAttributes = new { @class = "form-control", @maxlength = "250" } })
                @Html.ValidationMessageFor(model => model.CardLocation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add To Collection" class="btn btn-default" />
            </div>
        </div>
    </div>











    @*<div>
            <h3>@Html.DisplayFor(model => model.CardName)</h3>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CardName)
                </dt>

                <div class="form-group">
                    <dd>
                        @Html.DisplayFor(model => model.CardName)
                    </dd>
                </div>

                <dt>
                    @Html.DisplayNameFor(model => model.CardText)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CardText)
                </dd>

                <dt>
                    Card Location
                </dt>
                <div class="form-group">
                    <dd>
                        <input type="text" id="cardLocationEntry" placeholder="Where will you put this card?" maxlength="250" style="width: 20em;">
                    </dd>
                </div>

                <dt>
                    Add Card
                </dt>
                <div class="form-group">
                    <dd>
                        <input type="submit" id="cardLocationEntry" class="btn btn-lg" value="Add To Collection">
                    </dd>
                </div>

            </dl>
        </div>*@
}

<p>
    @Html.ActionLink("Back to List", "Index", "Card")
</p>
